version: '3.8'
services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - NCBI_API_KEY=${NCBI_API_KEY}
      - DASHSCOPE_API_KEY=${DASHSCOPE_API_KEY}
    volumes:
      - .:/app